.box-container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.main-container {
    display: flex;

}

.box {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 75px;
    text-align: center;
    vertical-align: center;
}

.box:hover {
    background-color: #5b889a;
    transition: background-color 2s ease-out 50ms;
}

.score {
    width: 150px;
    border: 2px solid black;
    border-radius: 2px;
}


